html, body{
	font-size: 80%;
    font-family: Arial;
	letter-spacing: 0.15em;
	background-color: #d6bfbf;
}

#page {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 3px double #000;
	background-color: #f34141;
}

#logo { 
	width: 150px;
	margin-left: 170px;
    margin-right: 500px;
    margin-bottom: 25px;
}
.logo {
    width: 200px;
    height: auto;
    text-align: center;
}

.image {
    width: 600px;
    height: auto;
}
#navigation {
    background-color: rgb(255, 255, 255);
}
ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;
    font-size: 12px;
}

li{
	display: inline;
	margin: 0px 3px;
}

p {
	text-align: justify;
	width: 600px;
	margin: 20px auto 20px auto;
	font-weight: normal;
    font-size: 18px;
    color: #ffffff;
}

a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;

}

a:hover, a.on{
	color: #ffffff;
	background-color: #ff4747;
}